:root {
    --color-primary: #0073ff;
    --color-white: #e9e9e9;
    --color-black: #141d28;
    --color-black-1: #212b38;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: sans-serif;
    background-color: #212b38;
  }
  
  .logo {
    color: var(--color-white);
    font-size: 30px;
  }
  
  .logo span {
    color: var(--color-primary);
  }
  
  .menu-bar {
    background-color: var(--color-black);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    position: relative;
  }
  
  .menu-icon {
    display: none;
    color: var(--color-white);
    font-size: 30px;
    cursor: pointer;
  }
  
  #menu-toggle {
    display: none;
  }
  
  .menu-bar ul {
    list-style: none;
    display: flex;
  }
  
  .menu-bar ul li {
    padding: 10px 30px;
    position: relative;
  }
  
  .menu-bar ul li a {
    font-size: 20px;
    color: var(--color-white);
    text-decoration: none;
    transition: all 0.3s;
  }
  
  .menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  
  /* Dropdown menu styles */
  .dropdown-menu {
    display: none;
  }
  
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-black);
  }
  
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  
  .dropdown-menu-1 {
    display: none;
  }
  
  .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
  }
  
  .hero {
    height: calc(100vh - 80px);
    background-image: url(./bg.jpg);
    background-position: center;
  }
  
  /* Responsive styling */
  @media (max-width: 768px) {
    .logo {
        line-height: 80px;
    }
    .menu-bar {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .menu-icon {
      display: block;
      position: absolute;
      right: 10px;
      top: 20px;
    }
  
    .menu-bar ul {
      flex-direction: column;
      width: 100%;
      background-color: var(--color-black);
      display: none;
    }
  
    #menu-toggle:checked + .menu-icon + ul {
      display: flex;
    }
  
    .menu-bar ul li {
      width: 100%;
      text-align: left;
    }
  
    .menu-bar ul li:hover .dropdown-menu {
      position: static;
      width: 100%;
    }
  
    .dropdown-menu ul li:hover .dropdown-menu-1 {
      position: static;
      left: 0;
    }
  }
  